header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 150px;
}

header img {
	max-height: 150px;
	object-fit: scale-down;
	justify-self: flex-start;
}

header > div {
	display: flex;
	flex-direction: column;
}

h1 {
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	margin: 0;
}

#firstName {
	border-bottom: 5px solid;
}

@media screen and (min-width: 768px) {
	header {
		width: 50%;
		margin: 0 25%;
	}
}
