main {
	display: flex;
	flex-direction: column;
	align-content: center;
}

main > section {
	box-sizing: content-box;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	main h2 {
		transform: rotate(-90deg);
		text-align: center;
		align-self: center;
	}
}
