* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom,black,rgb(1, 1, 71));
  /* background-image: 
  url("https://brownnicholasj.github.io/nbrown_portfolio/assets/images/wcbackground.jpg"); */
  color: rgb(153, 153, 153);
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
}

header {
  display:flex;
  justify-content: flex-start;
  font-size: 26px;
  text-align:left;
  margin: 0%;
  padding: 0%;

}

/* portriat image settings */
header img {
  height: 300px;
    max-height: 300px;
  width: 25%;
    max-width: 300px;
  object-fit: contain;
}
.contact{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
}

h1{
  font-weight: bold;
  font-size: 8vw;
  padding: 0%;
    padding-top: 10px;
  margin: 0%;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  width: 100%;
  text-align: center;
}

.contact-labels{
  flex-direction: row;
  flex-wrap: nowrap;
}

.label{
  font-weight:bold;
}

a:link, a:visited{
  color:inherit;
  text-decoration: none;
}

nav{
  display: flex;
  padding: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
}

nav a:link{
  width: 25%;
  font-size: 3vw;
  text-align: center;
}

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 400px;
}

main header{
  justify-content: center;
  text-decoration: underline;
  font-size: 4vw;
}

main img{
  padding: 50px;
    padding-top: 10px;
  height: 300px;
  width: 600px;
  flex: 1 0 600px;
}

#app1{
  height: 600px;
  width: 800px;
  flex: 2 1 800px;
}

#subapps{
  height: 300px;
  width: 400px;
  flex: 1 0 400px;
}

footer{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 992px) {

}


@media screen and (max-width: 768px) {

}